<nav class="navbar navbar-expand-lg " style="background-color: #fed9a1;">
  <a class="navbar-brand purpura silence font-weight-bold" style="font-size: 25x;" href="#"> Picky Shoes </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-5" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active purpura" href="#">Nosotros <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link purpura" href="#">Contacto</a>
      
    </div>
  </div>
</nav>