<div class="cross" style="height: 550px;">
  <div
    class=" mt-3 ml-auto mr-auto row"
    style="width: 400px; height: 400px; background-color: #fed9a1;"
  >
    <div
      class=" m-auto "
      style="border: 1px solid white; width: 385px; height: 385px;"
    >
      <div class=" mt-3 mb-2 row ">
        <p class="h6 text-center col silence" style="font-size: 30px;">Picky Store</p>
      </div>

      <div class=" mt-2 row">
        <p class="text-center text30 mt-2 col">
          La tienda online se estara lanzando
          <span class="titulo" style="text-transform: uppercase"
            >proximamente</span
          >
        </p>
      </div>
      <div class="row m-auto text-center" style="width: 300px;">
        <p >Puedes hacer tus compras a traves de nuestras redes sociales</p>
      </div>
      <div class="row">
      
        <div class="col text-center">
          <nav class="social-media">
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
          </nav>
          
        </div>
      </div>
    </div>
  </div>
</div>
